@keyframes banner-move {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.animate-banner {
    display: flex;
    justify-content: space-between;
    gap:5rem;
    animation: banner-move 10s linear infinite;

    @media (max-width: 768px) {
        font-size: 10px;
        gap:.5rem;
        width: 130%;
    }
}